# Server
PORT=3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/cv-generator

# OpenAI
OPENAI_API_KEY=

# PDF Generation Service
SERVICE_URL=http://localhost:8090/api/cv/generate

# Security
ALLOWED_IPS=127.0.0.1,::1
